@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    background-size: cover;
	background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.footer {
    margin-top: auto;
    color: lightslategray;
}

.login, .signup {
    background-image: url('../images/pup_gate.jpg');
}

.home, .grades, .enrollment, .schedule, .index {
    background-image: url('../images/pup_campus.jpg')
}

.login-form, .signup-form, .index-form {
    border-radius: 10px;
}

.signup-form {
    width: 80%;
    margin: auto;
}

.index-form {
    width: 50%;
    margin: auto;
}

.fs-15px {
    font-size: 15px;
}

.fs-20px {
    font-size: 20px;
}

.bg-darkred {
    background-color: DarkRed;
    color: white;
}